body {
      background-color: #f2f2f2;
      font-family: "Roboto", sans-serif;
      /* color: rgb(61, 59, 59); */
}
#checkout-head {
      height: 84px;
      /* margin: auto; */
      display: flex;
      align-items: center;
      /* border: 1px solid green; */
      background-color: white;
      margin: -8px -8px;
}
#checkout-head > img {
      /* border: 1px solid blu; */
      height: 45px;
      margin-left: 200px;
}
#checkout-container {
      width: 72%;
      /* background-color: white; */
      /* height: 700px; */
      display: flex;
      margin: auto;
      margin-top: 50px;
      /* border: 1px solid red; */
      gap: 3%;
}
#checkout-left {
      /* border: 1px solid blue; */
      width: 64%;
}
#checkout-right {
      /* border: 1px solid gray; */
      width: 33%;
      /* background-color: white; */
}
#checkout-login {
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      background-color: white;
}
#checkout-login > div:nth-child(1) {
      /* border: 1px solid green; */
      width: 64%;
      /* margin-top: -20px; */
}
#checkout-login > div:nth-child(2) {
      /* border: 1px solid rgb(45, 0, 128); */
      width: 32%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
}
#checkout-login > div:nth-child(2) > button {
      font-size: 15px;
      border: none;
      background-color: black;
      color: white;
      padding: 12px 20px;
      font-weight: 400;
      cursor: pointer;
}
#checkout-login > div:nth-child(2) > button:hover {
      background-color: rgb(99, 96, 96);
}
h3,
h4 {
      font-family: "Times New Roman", Times, serif;
}
#checkout-details {
      padding: 25px;
      margin-top: 30px;
      /* border: 1px solid gold; */
      background-color: white;
      border-top: 3px solid black;
}
.input-checkout {
      width: 100%;
      padding: 8px 0px;
      font-size: 17px;
      margin-top: -8px;
      margin-bottom: 20px
}
#email{
    margin-bottom: 5px;
}
span{
    font-size: 14px;
}
#delivery{
    margin-top: 30px;
    background-color: white;
    padding: 10px 25px;
}
p{
    font-size: 14px;
}
#delivery>p{
    color: blue;
    font-size: 14px;
    font-weight: bold;
}
#payment-details{
    background-color: white;
    padding: 10px 25px;
    margin-top: 30px;
}
#payment-mode{
    border: 4px solid rgb(131, 130, 130);
    border-radius: 5px;
    padding: 0px 25px;
    padding-bottom: 40px;
    /* height: 500px; */
}
#payment-card{
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
}
#payment-card>img{
    height: 30px;
    width: 45px;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 2px;
    cursor: pointer;
    /* padding: -5px; */
}
#month,#year{
    width: 48%;
    font-size: 16px;
    /* margin-right: 2%; */
    padding: 8px;
}
#year{
    margin-left: 2%;
}
#year+p{
    margin-top: 35px;
}
.input-payment{
    width: 44%;
    font-size: 16px;
    padding: 8px;
}
#sameAddress{
  margin-top: 30px;
  /* margin-bottom: 20px; */
}

#clickPayment{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
}
#clickPayment>button{
    width: 100%;
    font-size: 18px;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
}
#clickPayment>button:hover{
    background-color: rgb(73, 71, 71);
    
}
