#footer {
      width: 98%;
      margin: auto;
}
/* footer1 */

#_footer1 {
      display: flex;
    
}
#_a {
      width: 50%;
      padding: auto;
}
#_b {
      width: 50%;
      padding: auto;
}

#_btn {
      background-color: #222222;
      color: #ffffff;
      padding: 12px 25px;
      border: none;
}
#_btn:hover {
      background-color: #5f5e5e;
      color: white;
}

#_btn > a {
      text-decoration: none;
      color: white;
}
#pb {
      margin-left: 30px;
      margin-top: 7%;
}
#pb > p {
      color: #000000;
      font-size: 15px;
}
#p_i {
      margin-left: 4%;
      margin-top: 7%;
      font-size: 14px;
}
#_img{
    display: flex;
    gap: 2%;
    /* border: 1px solid red; */
}
#p_i > div > img {
      border-radius: 30px;
      background-color: #ecebeb;
      height: 40px;
      padding: 6px;
      cursor: pointer;
}
#p_i > div > img:hover {
      background-color: #ffffff;
      /* padding: 5px; */
}


/* footer2************************************** */

#_footer2 {
      display: flex;
      /* width: 100%; */
      padding-bottom: 50px;
}
#_img2{
    display: flex;
    gap: 15px;

}
#_img2 > img {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      height: 35px;
      width: 40px;
      /* border: 1px solid red; */
}

#_a1 {    /* height: 90%; */
    width: 50%;
    padding: auto;
    margin-top: 30px;
}
#_aa{
      margin-left: 20px;
      border-top: 1px solid #b6b1b1;
      font-size: 14px;
}
#_aa > div > p {
      padding: 10px;
      margin-bottom: -13px;
}
._p1:hover {
      background-color: #f0efef;
      cursor: pointer;
      width: 300px;
      padding: 8px;
}
#_b1 {
    /* height: 90%; */
    width: 50%;
    /* border: 1px solid #999999; */
    padding: auto;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 5%;
    margin-top: 30px;
    margin-left: 40px;
}

#_bb1{
      border-top: 1px solid #999999;
      font-size: 14px;
      /* border: 1px solid red; */
      width: 30%;
}
._p2,._p3,._p4{
    padding: 10px 0px;
    
    margin-bottom: -13px;
    /* border: 1px solid blue; */
}
._p2:hover,._p3:hover,._p4:hover {
    background-color: #f0efef;
    cursor: pointer;
    /* width: 190px; */
    padding: 10px 0px;
}
#_bb2{
    border-top: 1px solid #999999;
    font-size: 14px;
    width: 27%;
}

#_bb3{
    border-top: 1px solid #999999;
      font-size: 14px;
      width: 30%;
} 

/* footer3 ********************************** */

#_footer3 {
      display: flex;
      border-top:solid 1px rgb(180, 180, 180) ;
      margin: -10px;
      padding-bottom: 40px;

}
#_a3 {
      width: 50%;
}
#_bbb {
      margin: 5%;

}
#_bbb>p{
    font-size: 15px;
}

#_b3 {
      width: 50%;
}
