body {
      background-color: #f2f2f2;
}
#navbar-start {
      height: 75px;
      background-color: #ffffff;
      margin: auto;
      margin: -8px;
}
#logshign {
      display: flex;
      margin: auto;
      gap: 50px;
      margin-top: 50px;
}
#navbar-start > img {
      width: 195px;
      height: 75px;
      margin-left: 65px;
}
#login-start {
      margin-left: 250px;
      gap: -10px;
      width: 455px;
      height: 590px;
      background-color: #ffffff;
      padding-bottom: 40px;
}
.icon {
      display: flex;
      margin: auto;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 40%;
      gap: 5px;
      padding: 10px;
}
#h2 {
      font-weight: lighter;
      margin-top: 40px;
      margin-left: 30px;
}
#email-adress {
      margin-left: 30px;
      margin-top: 30px;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
}
#passord-deatil {
      margin-left: 30px;
      margin-top: 30px;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
}
#passord-forget {
      margin-left: 30px;
      margin-top: 55px;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
}
#passord-forget:hover {
      text-decoration-line: underline;
}
#email {
      height: 46px;
      width: 385px;
      border-radius: 5px;
      border: 1px solid black;
}
#password {
      height: 46px;
      width: 385px;
      border-radius: 5px;
      border: 1px solid black;
}
#login-to-account {
      height: 46px;
      width: 385px;
      margin-left: 30px;
      margin-top: 20px;
      font-weight: bold;
      background-color: #222222;
      color: #ffffff;
      border: none;
      font-size: 15px;
}
#login-to-account:hover {
      background-color: #7e7e7e;
}
#continue {
      margin-left: 30px;
      margin-top: 40px;
      font-family: sans-serif;
      font-weight: lighter;
      font-size: 15px;
      color: #333333;
}
#button {
      display: flex;
      gap: 5%;
      margin-left: 23px;
      margin-top: 30px;
}
#register {
      height: 175px;
      width: 455px;
      background-color: #ffffff;
      padding-left: 50px;
}

#register-h2 {
      font-weight: lighter;
      font-size: 25px;
      color: #333333;
      padding-top: 15px;
}
#register-button {
      width: 385px;
      font-weight: bold;
      background-color: #222222;
      color: #ffffff;
      border: none;
      font-size: 15px;
      padding: 15px;
}
#register-button:hover {
      background-color: #7e7e7e;
}
#link {
      color: #ffffff;
      text-decoration: none;
}
