body {
    font-family: "Lato", sans-serif;
  }

  #monster {
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
  }

  #home {
    display: flex;
    gap: 5px;
  }

  #smallmonster {
    display: flex;
    gap: 1%;
    margin-top: 20px;
  }

  #leftsidemonster {
    /* border: 1px solid red; */
    width: 50%;
  }

  #rightsidemonster {
    /* border: 1px solid red; */
    width: 180%;
    padding: 0px 20px;
  }
  .leftSelectName {
    font-size: 18px;
  }

  .leftSort {
    width: 100%;
    /* height: 30px; */
    font-weight: 550;
    margin-top: 20px;
    font-size: 17px;
    /* border: none; */
    /* background-color: #f5f5f5; */
    border-radius: 3px;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1.5px solid black;
  }

  option {
    font-weight: 300;
    font-size: 18px;
  }

  /* ======================right monster */

  .para {
    font-size: 15px;
    margin-top: 40px;
  }

  #sort {
    width: 20%;
    height: 35px;
    font-size: 17px;
    margin-left: 15px;
  }

  #sortlist {
    margin-top: 30px;
  }

  #rockybhai {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
  }

  .popatlal {
    margin: auto;
    /* align-items: center; */
    /* border: 1px solid red; */
  }

  .popatlal2 {
    text-align: center;
  }

  .btn_remove {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
  }

  .btn_remove:hover {
    background-color: rgb(94, 90, 90);
    border: rgb(94, 90, 90);
  }

  #first{
    margin-left: -29px;
    /* width: 107%; */
     /* border: 1px solid; */
     height: 56px;
     display: flex;
     background-color: #f2f2f2;
     align-items: center;
    
 }
 
 #second{
     height: 56px;
     /* width: 107%; */
     margin-left: -29px;
 
     /* border: 1px solid; */
     display: flex;
     align-content: center;
     background-color: #cccccc;
     cursor: pointer;
 }
 #second:hover{
     background-color: #e7e6e6;
 }
 #smallsec{
     height: 25px;
     width: 80%;
     /* border: 1px solid; */
     margin: auto;
     font-size: 14px;
     font-weight: 700;
     color: #333333;
     line-height: 20px;
     font-family: "lato regular", Helvetica, Arial, sans-serif;
     text-align: center;
     padding-top: 3px;
     
     
 }
 .firstsmall{
     height: 30px;
     width: auto;
     /* border: 1px solid; */
     /* margin: auto; */
     display: flex;
     margin: auto;
     cursor: pointer;
     
     
 }
 .secondsmall{
     height: 100%;
     width: auto;
     /* border: 1px solid; */
     margin-left: 12px;
     display: flex;
     align-items: center;
     font-family: "lato regular", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: 500;
     line-height: 20px;
     color: #000000;
 }
 .firstsmall>i{
     font-size: 20px;
     display: flex;
     align-items: center;
 }